body {
  color:#000000;
  background-color:#FFFFFF;
  background-repeat:no-repeat;
  font-family: Arial;
}
a  { color:#0000FF; }
a:visited { color:#800080; }
a:hover { color:#008000; }
a:active { color:#FF0000; }
li{
   margin: 10px 0;   
}
